DB_URL=jdbc:postgresql://localhost:5432/name_db
DB_USERNAME=
DB_PASSWORD=
ADMIN_EMAIL=
ADMIN_PASSWORD=
FRONTEND_URL=http://localhost:5173
JWT_SECRET = generate_with_base64_64
JWT_EXPIRATION = 86400000