# === Maven ===
target/
.mvn/wrapper/maven-wrapper.log

# Wrappers
!mvnw
!mvnw.cmd
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# === IDEs ===

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# === TempFiles
.DS_Store
Thumbs.db

# === Config
*.env
application.properties
application.yml
application-*.yml
application-*.properties
.env.*

#Other
ImgTest/
uploads/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Help
HELP.md
